@charset "utf-8";
body{
	margin: 0;
}
.body{
	position: relative;
	width: 100%;
	height: 2000px;
	font-family: "MicroSoft Yahei";
}
.head{
	position: fixed;
	width: 100%;
	height: 65px;
	background: #fff;
	z-index: 999;
	padding-top: 10px;
	border-bottom: 1px solid rgba(235, 235, 235,1.00);
}
.txlogo{
	position: absolute;
	left: 25px;
	top:20px;
	cursor: pointer;
}
.nav{
	position: absolute;
	width: 850px;
	height: 55px;
	left: 160px;
	margin-top:1px;
	font-size: 18px;
	line-height: 50px;
}
.nav li{
	display: inline-block;
	margin-left: 25px; 
}
.nav a{
	text-decoration: none;
	color: black;
}
.nav a:hover{
	color: rgb(0, 82, 217);
}
#nav-more{
	position: relative;
	left: 35px;
	font-size: 15px;
	padding: 5px 15px;
	color: #3563d5;
	border-radius: 20px;
	background: #e3f3fe;
}
.ywhx{
	position: relative;
	width: 35px;
	height: 2.5px;
	left: 26px;
	top:10px;
	background: #4889f3;
}
.yjdl{
	position: relative;
	float: right;
	top:15px;
	right: 30px;
	padding: 3px 15px;
	line-height: 18px;
	border-radius: 20px;
	background: #e3f3fe;
}
.yjdl a{
	text-decoration: none;
	color: #3563d5;
	font-size: 12px;
}
.nr{
	position: relative;
	width: 1000px;
	height: 1000px;
	top:100px;
	margin: 0 auto;
}
.yaowen{
	position: relative;
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid;
}
.yaowen span{
	color: #5184eb;
	font-weight: bold;
	font-size: 20px;
}
.yw-xh{
	position: relative;
	width: 80px;
	height: 5px;
	top:-4px;
	background: #5184eb;
}
.shijian{
	position: relative;
	float: right;
	text-align: right;
	font-size: 13px;
	top:10px;
}
.shijian span{
	font-weight: normal;
	color: black;
	padding-right: 10px;
	font-size: 14px;
}
.shijian img{
	position: relative;
	top:5px;
	width: 20px;
}
.shijian a{
	text-decoration: none;
	color: black;
}
.shijian a:hover{
	color: #408ed6;
}
.yaowenbody{
	position: relative;
	width: 670px;
	height:300px;
	line-height: 55px;
	top:20px;
	border-bottom: 1px solid #e6e6e6;
}
#ywtitle{
	font-size: 22px;
}
.yaowenbody a{
	position: relative;
	font-size: 20px;
	text-decoration: none;
	color: black;
}
.yaowenbody a:hover{
	color: #2291f7;
}
.ywli{
	position: relative;
	width: 670px;
	height: auto;
}
.ywli:hover{
	position: relative;
	width: 670px;
	height: auto;
	background: #f3f6f8;
}
.jrht{
	position: relative;
	float: right;
	width: 300px;
	height: 400px;
	top:30px;
	background: #f7f8f9;
}
.jz{
	position: absolute;
	width: 300px;
	height: 400px;
	top:510px;
	left: 700px;
	background: #f7f8f9;
}
.gy{
	position: absolute;
	width: 300px;
	height: 460px;
	top:940px;
	left: 700px;
	background: #f7f8f9;
}
.gybtm{
	position: absolute;
	width: 300px;
	height: 250px;
	top:1430px;
	left: 700px;
	background: #f7f8f9;
}
.jrhtlogo{
	position: relative;
	top:12px;
	padding-left: 10px;
	border-left: 5px solid #2291f6;
}
.htimg{
	position: relative;
	width: 300px;
	height: 100px;
	top:25px;
	left: 10px;
}
.httext{
	position: relative;
	float: right;
	width: 150px;
	right: 20px;
	line-height: 22px;
	font-size: 14px;
}
.htli{
	position: relative;
	width: 280px; 
	top:30px;
	left: 10px;
	margin: 0 auto;
	font-size: 15px;
}
.htli a,.httext a{
	text-decoration: none;
	color: black;
}
.htli a:hover,.httext a:hover{
	color: #2291f7;
}
.rdjx{
	position: relative;
	width: 670px;
	height:1000px;
	top:30px;
}
.rdjx span{
	font-size: 22px;
	color: #5184eb;
	font-weight: bold;
}
.rdnr{
	position: relative;
	width: 670px;
	height: 180px;
	top:10px;
	border-bottom: 1px solid #e6e6e6;
}
.rdnr img{
	position: absolute;
	top:25px;
}
.rdnrte{
	position: absolute;
	left: 240px;
	top:25px;
}
.rdnr:hover{
	background: #f3f6f8;
}
.rdzt{
	background: #4889f3;
	color: #fff;
	font-size: 15px;
	padding: 2px 6px;
	border-radius: 5px;
}
.rdtitle{
	position: relative;
	text-decoration: none;
	color: black;
	line-height: 30px;
	font-size: 20px;
}
.rdtitle:hover{
	color: #2291f7;
}
.rdauthor{
	position: absolute;
	left: 240px;
	top:138px;
	color: #666666;
	font-size: 12px;
}
.rdfx{
	position: relative;
	float: right;
	top:115px;
	right: 20px;
	font-size: 12px;
}
.rdfx a{
	position: relative;
	padding-left: 20px;
	top:22px;
	color: #666666;
	text-decoration: none;
}
.btm{
	position: relative;
	width: 750px;
	height: 150px;
	margin: 0 auto;
	top:1050px;
	line-height: 30px;
	text-align: center;
}
.btm a,.btm span{
	text-decoration: none;
	font-size: 13px;
	color: #838383;
}
.btm a:hover{
	text-decoration: underline;
	color: #bd0a01;
}